*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

.header-container{
    width: 100%;
    height: 100vh;
    background: url("https://img.freepik.com/free-photo/fresh-pasta-with-hearty-bolognese-parmesan-cheese-generated-by-ai_188544-9469.jpg?size=626&ext=jpg&ga=GA1.1.567455393.1698649742&semt=sph");
     /* background: url("https://images.unsplash.com/photo-1497888329096-51c27beff665?auto=format&fit=crop&q=80&w=1771&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
    background-size: cover;
    position: relative;
    
}
 

.navbar{
    margin:0 5rem !important;
    width: 100%;
    height: 15vh;
}
.navbar-brand{
    font-size: 32px !important;
    color: rgb(283, 283, 28) !important;
    font-weight: 900 !important;
}
.nav-item{
    margin: 0 9px;

}
.nav-link{
    font-size: 14px !important;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.842);
    font-weight: 500;
    position: relative;
}

.nav-link::before{
    content: "";
    position: absolute;
    left: 50;
    right: 50;
    bottom: -4px;
    background-color: rgb(213, 236, 0);
    height: 2px;
    transition: 0.3s ease-in-out;
     
}
.navbar-nav_{
    margin: 0px 44px;
}

.nav-link:hover::before{
    left: 0;
    right: 0;
}
/* .icon-navbar:hover{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    color: black;
    background-color: rgb(213, 236, 0) !important;
} */
 
.icon-navbar{
    
    display: inline-block;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.842);
    cursor: pointer;
    margin: 0px 10px;
    transition: 0.3s;
}
.icon-navbar:hover{
    transform: scale(1.2);
    color: white;
}

.btn_navbar{
    text-decoration: none;
    display: inline-block;
    margin: 0 110px 0 26px;
    color: rgba(255, 255, 255, 0.842);
    font-size: 14px;
    padding: 12px 26px;
    background-color: rgb(212, 31, 31);
    border-radius: 5px;
    font-weight: 600;
    transform: perspective(1px) translateZ(0);
    position: relative;
    
}
.btn_navbar::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(54, 95, 325);
    
    transform: scaleX(0);
    transform-origin: 100% 50%;
    border-radius: 3px;
    transition: 0.4s ease;
    z-index: -1;
}
.btn_navbar:hover{
    color: white !important;
}
.btn_navbar:hover::before{
    transform: scale(1);
}

.home-section{
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.home-heading-first{
    font-size: 38px;
    font-weight: 600;
    /* font-style: italic; */
    color: rgba(255, 255, 255, 0.957);
    letter-spacing: -0.1vw;
}
.home-heading-first span{
    color: rgb(225, 252, 13);
}
.hading-lg-home{
    font-size: 5rem;
    font-weight: 900;
    color: white;
    letter-spacing: -.1vw;
}
.heding-third-home{
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(255, 91, 91, 0.815);
    letter-spacing: .3vw;
}
.para_home{
    font-size:  13px;
    color: rgba(255, 255, 255, 0.58);
    margin: 1.1rem 0px;
}
.btn_home_contact{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    background-color: rgb(253, 0, 118);
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 50px;
    margin-top: 6px;
    margin-right: 6px;
    transition: 0.2s ease-in-out;
    letter-spacing: .2px;
}

.btn-2{
    background-color: transparent;
    padding: 10px 30px;
    border: 2px solid rgb(253, 0, 118);
    letter-spacing: .2px;
}
.btn-2:hover{
    background-color: rgb(253, 0, 118) !important;
}
.btn_home_contact:hover{
    color: white;
    padding: 10px 30px;
    border: 2px solid rgb(253, 0, 118);
    background-color: transparent;

}

.items-container{
    width: 100%;
    height: 280px;
    /* border: 5px solid green; */
    position: absolute;
    left: 0px;
    bottom: -180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content_items{
    width: 100%;
    height: 220px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 2px 2px 16px gray !important;
}
.item-image1{
    width: 100%;
    height: 100%;
     
    background: url("https://images.unsplash.com/photo-1551024709-8f23befc6f87?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDF8fHxlbnwwfHx8fHw%3D");
    background-position: top;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}

 
 
.item-image2{
    width: 100%;
    height: 100%;
    background: url("https://images.unsplash.com/photo-1565958011703-44f9829ba187?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGZvb2R8ZW58MHx8MHx8fDA%3D");
    background-position: top;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}

.item-image3{
    width: 100%;
    height: 100%;
    background: url("https://images.unsplash.com/photo-1569718212165-3a8278d5f624?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDExfHx8ZW58MHx8fHx8");
    background-position: top;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}

 
.item-image4{
    width: 100%;
    height: 100%;
    background: url("https://images.unsplash.com/photo-1506224772180-d75b3efbe9be?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE3fHx8ZW58MHx8fHx8");
    background-position: top;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}
.item-image1:hover, .item-image2:hover, .item-image3:hover, .item-image4:hover{
    transform: scale(1.2);
} 

.special-deals{
    width: 100%;
    height: 500px; 
    margin-top: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.special-offers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 160px 160px;
    grid-gap: 22px;
}
.offers{
    border-radius: 2px;
}
.offer1{
    grid-row-start: 1;
    grid-row-end: 3;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)) ,url("https://images.unsplash.com/photo-1611675674726-062332b48623?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHx8");
    background-position: center;
    background-size: cover;
}
.offer2{
    
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)) ,url("https://images.unsplash.com/photo-1604287094096-59a7dee979e1?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGRvbnV0fGVufDB8fDB8fHww");
    background-position: center;
    background-size: cover;
}
.offer3{
     
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)) ,url("https://images.unsplash.com/photo-1685079253777-61c2c0de2956?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDIwfHx8ZW58MHx8fHx8");
    background-position: center;
    background-size: cover;
}

.heading-offer-sm{
    font-size: 15px;
    font-weight: 600;
    color: white;
    margin: 15px 0 2px 24px;
}
.heading-offers{
    color: rgba(255, 255, 255, 0.897);
    font-weight: 700;
    font-size: 20px;
    margin: 0px 24px;
}

.services{
    width: 100%;
    height: 60vh;

}
.heading-sm-service{
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    letter-spacing: 2px;
    color: rgb(238, 0, 59);
}

.services h2{
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    margin: 18px 0 ;
    letter-spacing: -.1vw;
    
}
.service-container{
    margin-top: 64px;
}
.content-service{
    width: 100%;
    height: 300px;
    box-shadow: 2px 2px 21px rgba(0, 184, 219, 0.25);
    cursor: pointer;
    margin: 12px 0px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    transition: 0.3 ease;
}
.content-service::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 5px;
    height: 10px;
    width: 90%;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35)0%, rgba(0, 0, 0, 0)80%);
    opacity: 0;
    transition: 0.3 ease;
}
.content-service:hover::before{
    opacity: 1;
    transform: translateY(10px);
}
.content-service:hover{
    transform: translateY(-10px);
}
.iconimg{
    width: 180px;
}
.heading-content-services{
    font-size: 24px;
    font-weight: 900px;
    margin: 16px 0px 13px 0px;
}
.para-food{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.779);
    align-items: center;
    line-height: 23px;
}

.about-event{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 28px;
}
.about-events-container{
    width: 100%;
    height: auto;
    box-shadow: 3px 3px 11px rgba(0, 184, 219, 0.45);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 12px;
}
.contain-about-event{
    padding: 20px;
}
.heading-sm-event{
    font-size: 15px;
    font-weight: 900;
    margin: 16px 0;
}
.heading-lg-event{
    font-size: 31px;
    font-weight: 900;
    letter-spacing: -.1vw;
    
}
.para-about-event{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.825);
    font-weight: 500;
    margin: 14px 0;
    line-height: 23px;
}

.image-event{
    width: 100%;
    height: 100%;
    background: url("https://images.unsplash.com/photo-1633945274405-b6c8069047b0?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: right;
    background-size: cover;
    border-radius: 5px;

}
.rating-icons{
    display: flex;
    list-style: none;
    gap: 10px;
    padding: 10px 0px !important;
}
.icon-star{
    font-size: 24px;
    color: rgb(59, 253, 0);
}
.menu{
    width: 100%;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.heading_sm_menu{
    text-align: center;
    background-color: rgb(255, 187, 0);
    color: black;
    padding: 14px 16px;
    display: inline-block;
    font-size: 14px;
    font-weight: 900;
    margin: 16px 0;
    /* margin-left: 48%; */
    border-radius: 2px;
}
.heading-lg-menu{
    font-size: 38px;
    font-weight: 900;
    letter-spacing: 1px;
    text-align: center;
    line-height: 54px;
    margin: 9px 0;
}
.para-menu{
    font-size: 1.2rem;
    text-align: center;
    max-width: 80%;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.767);
}
.content-menu{
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.image-container{
    width: 100%;
    height: 340px;
}
.img-content-menu{
    width: 100%;
    height: 100%;
}
.heading-text{
    font-size: 21px;
    font-weight: 900;
    text-align: center;
    margin: 21px 0 9px 0;
}
.para-text{ 
    color: rgba(0, 0, 0, 0.767);
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    margin: auto;
    line-height: 21px;
}
.text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn_order{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin: 13px 0;
    padding: 10px 27px;
    background-color: red;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
}
.btn_order:hover{
    color: white;
    background-color: rgb(204, 2, 2);
}

.testimonial{
    width: 100%;
    height: 90vh;
    padding: 24px 0; 
     
}
.heading-testimonial{
    font-size: 35px;
    font-weight: 900;
    text-align: center;
    margin: 39px 0px;
}
.img-container{
    width: 120px;
    height: 100px;
    border-radius: 120px;
    /* background-color: skyblue; */
    background: url("https://images.unsplash.com/photo-1459356979461-dae1b8dcb702?auto=format&fit=crop&q=60&w=400&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Ym95fGVufDB8fDB8fHww");
    background-position: center;
    background-size: cover;
    margin: 0 15px;
}
.text-container-testimonial{
    width: 100%;
    height: 250px;
    background-color: rgb(243, 241, 241);
    padding: 18px 34px;
    position: relative;
}
.content-testimonial{
    display: flex;
    margin: 15px 0px;
}
.testimonial-container{
    margin: 28px 0;
}
.icon_testimonial{
    font-size: 24px;
    color: rgba(41, 40, 40, .904);
    cursor: pointer;
}
.para-testimonial{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.893);
    text-align: justify;
    line-height: 28px;
}
.about-customer{
    position: absolute;
    right: 34px;
    bottom: 24px;
}
.name-customer{
    font-size: 16px;
    font-weight: 800;
    
}
.profession{
    font-size: 12px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.89);
    text-align: center;
}
.contact{
    width: 100%;
    height: 100vh;
    padding: 18px 0;
}
.contact-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

}
.contact-content{
    width: 100%;
    height: 500px;
}
.heading-contenct-contact{
    color: black;
    font-size: 36px;
    font-weight: 800;
    position: relative;
    margin-bottom: 40px !important;
}
.heading-contenct-contact::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -12px;
    height: 2px;
    background-color: rgb(212, 1, 37);
    width: 20%;
    border-radius: 5px;
}
 
.heading-sm-contact{
    font-size: 1.1rem;
    font-weight: 600;
    margin: 4px 0;
    color: rgba(0, 0, 0, 0.79);
}
.para-content-contact{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.79);
    font-weight: 600;
    margin: 15px 0;
    max-width: 80%;

}
.heading-contact{
    font-size: 24px;
    font-weight: 800;
    margin: 15px 0;
}
.location-para{
    font-size: 15px;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.905);
    margin: 16px 8px;
}
.icon-content-contact{
    color: rgb(253, 3, 2);
    font-size: 1rem;
    margin: 0 9px;
    cursor: pointer;
}
.heading-form{
    font-size: 25px;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.905);
    margin:15px;
}
textarea{
    height: 160px;
}
.contact-media{
    display: flex;
    gap: 2px 8px;
}
.btn_contact{
    font-size: 15px;
    margin: 2px 0;
    padding: 11px 36px;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.812);
    /* color: black; */
    background: linear-gradient(90deg, hsla(354, 87%, 49%, 1)0%, hsla(285, 87%, 50%, 1)82%);
    border: none;
    border-radius: 4px;
}
footer{
    width: 100%;
    height: 35vh;
    background-color: rgb(14, 12, 12);
    padding-top: 18px;
    display: flex;
    flex-direction: column;
}
.footer-top-section{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading-footer{ 
    color: white;
    font-size: 2rem;
}
.heading-footer:hover{ 
    color: rgb(283, 283, 28) !important;
    /* font-size: 2.3rem; */
    font-weight: 800;
    
}
.navbar-footer{ 
    display: flex;
    justify-content: center;
}
.icon-content-footer{ 
    border-radius: 2px;
    font-size: 21px;
    padding: 11px 15px;
    background-color: rgba(27, 27, 27, 0.856);
    color: rgb(250, 27, 27);
}
.icon-content-footer:hover{ 
    color: rgb(244, 233, 233);
}
.footer-bottom-section{
    width: 100%;
    height: 100%;
    background-color: rgba(27, 27, 27, 0.979);
    display: flex;
    justify-content: center;
    align-items: center;
}
.newslatter{
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}
.heading-newsletter{
    color: white;
    font-size: 21px;
    font-weight: 500;
    margin: 0px !important;
    margin-right: 19px !important;
}
.input-footer{
    padding: 12px 20px;
    width: 340px;
    margin: 0px 8px;
    background-color: rgba(39, 38, 38, 0.829);
    outline: none !important;
    color: rgba(255, 255, 255, 0.391);
    border: none !important;
    font-size: 15px;
}
.btn-newslatter{
    text-decoration: none;
    padding: 13px 25px;
    background-color: rgba(39, 38, 38, 0.829);
    color: rgba(255, 255, 255, 0.788);
    font-size: 13px;
    font-weight: 600;
}
.btn-newslatter:hover{
    background: linear-gradient(90deg, hsla(354, 87%, 49%, 1)0%, hsla(285, 87%, 50%, 1)82%);
    
    
}
 